{% extends 'base.html.twig' %}

{% block title %}Hello DebtController!
{% endblock %}

{% block body %}

	<table class="table">
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Cantidad</th>
            <th>Nombre de la persona</th>
			<th>Fecha de cración</th>
			<th>Fecha de actualización</th>
		</tr>

		{% for debt in debts %}
			<tr>
				<td>{{debt.id}}</td>
				<td>{{debt.name}}</td>
				<td>{{debt.description}}</td>
				<td>{{debt.amount}}</td>
                <td>{{debt.person.name}}</td>
				<td>{{debt.creationDate|date('Y-m-d H:i:s')}}</td>
				{% if debt.lastUpdate|striptags|trim %}
					<td>{{debt.lastUpdate|date('Y-m-d H:i:s')}}</td>
				{% else %}
					<td>--</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

	<div class="example-wrapper">
		{% for debt in debts %}
			<h1 class="display-3">Hello
				{{ debt.name }}! ✅</h1>
		{% endfor %}
		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/david/symfony/asadfi/src/Controller/PersonController.php'|file_link(0) }}">src/Controller/PersonController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/david/symfony/asadfi/templates/person/index.html.twig'|file_link(0) }}">templates/person/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}